
UserService/config/firebase-config.json
UserService/bin/Debug/net6.0/firebase-config.json
.env
UserService/bin/Debug/net6.0/config/firebase-config.json
UserService/bin/Debug/net6.0/firebase-config.json
UserService/bin/Debug/net6.0/firebase-config.json
UserUnitTest/bin/Debug/net6.0/config/firebase-config.json
K8S
